{% import "entity_macros.html" as entity_macros %}
{% extends "base.html" %}

{% block title %}
{% if query %}
  {{ _("Search") }}: {{ query }}
{% else %}
  {{ _("Fulltext Search") }}
{% endif %}
{% endblock %}


{% block fullmain %}

<div class="ui vertical stripe segment" style="background-color: #EEE; padding-top: 2.5em;">
  <div class="ui container text">
    <h1>{{ _("Search COVID-19 documents") }}</h1>
    <form class="" role="search" action="/fulltext/search" method="get">
      <div class="ui form">
        <div class="ui action input huge fluid">
          <input type="text" placeholder="{{ _("Query...") }}" name="q" value="{% if query %}{{ query }}{% endif %}" aria-label="search metadata">
          <button class="ui primary button">{{ _("Search") }}</button>
        </div>

        <br>
        Include: &nbsp;

{#
        <div class="ui inline dropdown">
          <input type="hidden" name="filter_time">
          <div class="text">{{ filter_time or 'any' }}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">
              <i class="filter icon"></i>
              Publication Stage
            </div>
            <div class="divider"></div>
            <div class="{% if filter_type == 'any'          %}active{% endif %} item" data-value="any"       >{{ _("any stage")     }}</div>
            <div class="{% if filter_type == 'published'    %}active{% endif %} item" data-value="published" >{{ _("only published")     }}</div>
            <div class="{% if filter_type == 'pre_print'    %}active{% endif %} item" data-value="pre_print" >{{ _("only pre-print")    }}</div>
          </div>
        </div>
#}

        <div class="ui inline dropdown">
          <input type="hidden" name="filter_type" value="{{ filter_type }}">
          <div class="text">{{ filter_type or "papers" }}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">
              <i class="filter icon"></i>
              Resource Type
            </div>
            <div class="divider"></div>
            <div class="{% if filter_type == 'papers'     %}active{% endif %} item" data-value="papers"    >{{ _("papers")        }}</div>
            <div class="{% if filter_type == 'reports'    %}active{% endif %} item" data-value="reports"   >{{ _("reports")       }}</div>
            <div class="{% if filter_type == 'datasets'   %}active{% endif %} item" data-value="datasets"  >{{ _("datasets")      }}</div>
            <div class="{% if filter_type == 'everything' %}active{% endif %} item" data-value="everything">{{ _("everything")    }}</div>
          </div>
        </div>

        from
        <div class="ui inline dropdown">
          <input type="hidden" name="filter_time" vale="{{ filter_time }}">
          <div class="text">{{ filter_time or "all time" }}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">
              <i class="filter icon"></i>
              Time Period
            </div>
            <div class="divider"></div>
            <div class="{% if filter_type == 'all'          %}active{% endif %} item" data-value="all"        >{{ _("all time")      }}</div>
            <div class="{% if filter_type == 'past_week'    %}active{% endif %} item" data-value="past_week"  >{{ _("past week")     }}</div>
            <div class="{% if filter_type == 'this_year'    %}active{% endif %} item" data-value="this_year"  >{{ _("this year")     }}</div>
            <div class="{% if filter_type == 'since_2000'   %}active{% endif %} item" data-value="since_2000" >{{ _("since 2000")    }}</div>
            <div class="{% if filter_type == 'before_1925'  %}active{% endif %} item" data-value="before_1925">{{ _("before 1925")   }}</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


{% if found %}
  {% if found.results %}

    <div class="ui container text" style="padding: 1em;">
      {{ entity_macros.top_results(found) }}
    </div>
    <div class="ui container" style="max-width: 950px !important;">
      <div class="ui centered stackable grid">
        {% for paper in found.results %}
          {{ entity_macros.fulltext_search_result_row(paper) }}
        {% endfor %}
      </div>
    </div>
    {% if found.results|length > 8 %}
      <div class="ui container text">
        <div class="ui divider"></div>
        <div style="text-align: center">
          {{ entity_macros.bottom_results(found)}}
        </div>
      </div>
    {% endif %}

  {% else %}
    {# "did a query, but no results" #}
    <div class="ui container text">
      <br>
      {{ _("Raw query was:") }} <i>{{ found.query.q }}</i>

      <div class="ui centered stackable grid" style="padding-top: 15%;">
        <div class="row">
          <h2>{{ _("No results found!") }}</h2>
        </div>
        <div class="row">
          <div class="four wide column">
            <img src="/static/paper_man_confused.gif" alt="confused paper man">
          </div>
          <div class="six wide column">
            <br>
            <p>{{ _("Try searching elsewhere") }}:</p>
            <ul>
            <li><a href="https://www.ncbi.nlm.nih.gov/research/coronavirus/docsum?text={{ found.query.q | urlencode }}">NIH LitCovid</a></li>
            <li><a href="https://cord-19.apps.allenai.org/?q={{ found.query.q | urlencode }}">Allen AI CORD-19 Explorer</a></li>
            <li><a href="https://scholar.google.com/scholar?q={{ found.query.q | urlencode }}">Google Scholar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% else %}
    {# "no query submitted" #}
{% endif %}

{% endblock %}

{% block postscript %}
<script>
$('.ui.inline.dropdown')
  .dropdown()
;
</script>
{% endblock %}
