{% extends "base.html" %}

{% block title %}{{ _("Content Sources") }}{% endblock %}

{% block body %}

<h2>经计算的COVID-19来源</h2>

使用此COVID-19语料库中包含的作品来标记作品：

<ul>
  <li> <a href="https://pages.semanticscholar.org/coronavirus-research">艾伦AI人工智能研究所CORD-19语料库</a>
  <li> <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/global-research-on-novel-coronavirus-2019-ncov"> WHO冠状病毒疾病出版物数据库（COVID-19）</a>
  <li> <a href="http://subject.med.wanfangdata.com.cn/Channel/7">中国COVID-19论文的万方语料库</a>
  <li> <a href="http://en.gzbd.cnki.net/GZBT/brief/Default.aspx">中国COVID-19论文的CNKI语料库</a>
  <li> <a href="https://fatcat.wiki"> Fatcat </a>（基于针对完整目录的关键字查询）
</ul>

为了明确使用CORD-19语料库，该语料库仅用于
确定要包含在该索引中的论文（例如，通过DOI或PMCID）。
然后从现有的Fatcat中获取书目元数据和内容
开放元数据的目录，全文内容从以下位置找到的副本建立索引
公共网站，存储库和发布者网站。

<h2>免责声明</h2>

<p>
fatcat目录旨在作为“通用”保存和访问
存档，而不是仅是高质量研究的狭research精选
内容。这意味着并非所有内容都经过同行评审，有些内容
可能已上传到学术社交网络等服务（例如，
researchgate）或机构资料库，绝对没有人文编辑
查看或过滤。

<p>
该目录旨在捕获元数据，例如发布阶段（草稿，
已发布，已撤回），地点和媒介（期刊文章，网络文章，
百科全书条目，frontmatter）以帮助过滤此内容。但在
在某些情况下，此元数据不完整或可能不正确。例如，
预打印PDF文件可能与最终发布的文件不正确相关
作品的版本，反之亦然。


<h2>元数据来源</h2>

所有书目信息的来源都记录在编辑历史中
元数据，可以重建所有记录的来源。一些
主要资源值得在这里强调：

<ul>
 <li>通过公开发布<b> Crossref </b>的元数据
 <a href="https://github.com/CrossRef/rest-api-doc"> REST API </a>
 <li>从NIH <b>发布</b>和<b> <a href="https://arxiv.org"> arXiv.org </a> </b>发布元数据和链接的全文内容
 <li>发布<b> JSTOR </b>早期期刊内容集的元数据和链接的公共领域全文内容
 <li>创建者名称和<b> ORCID </b>的重复数据删除，通过年度公开数据发布
 <li> <b> DOAJ </b>，<b> ISSN ROAD </b>和<b> SHERPA / RoMEO </b>的期刊标题元数据
 <li> <b> <a href="https://core.ac.uk">核心</a> </b>中的全文URL列表，
 <b> <a href="http://unpaywall.org"> Unpaywall </a> </b>，
 <b> <a href="https://www.semanticscholar.org">语义学者</a> </b>，
 <b> <a href="https://citeseerx.ist.psu.edu"> CiteseerX </a> </b>，
 和<b> <a href="https://www.microsoft.com/en-us/research/project/academic"> Microsoft学术图谱</a> </b>。
 <li> <a href="https://guide.fatcat.wiki/sources.html">《胖猫指南》 </a>列出了更多主要来源
</ul>

非常感谢所有这些项目，机构和个人的辛勤工作！

{% endblock %}
